<div class="container">
  <ul class="list-group">
      <li class="list-group-item"><h3>Case No</h3></li>
      <li class="list-group-item">32'4'23/wd
          <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Assign Court</button>

          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasRightLabel">Available Temporary Courts</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="list-group">
                  <li class="list-group-item">Tvm Sub Magistrate Court
                      <button class="btn" type="button" >Assign</button>

                  </li>

                </ul>
            </div>
          </div>
      </li>
    </ul>
</div>

