.row {
  display: flex;
  flex-wrap: wrap;

}
h1{
  margin-top: 0px;
}
.card {
  flex: 1 1 calc(50% - 20px); /* Adjust the width as needed */
  margin: 10px;
  height: 500px;
  width: 100%;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #f8f9fa; /* Light gray background */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft*/
}


.card-title {
  margin-top: 0px;
  color: #333; /* Dark text color for titles */
  font-size: 1.2rem; /* Larger font size for titles */
  margin-bottom: 10px; /* Space below the title */
  text-align: center;
  background-color: #007bff; /* Blue background color */
  color: #fff; /* White text color */
  padding: 5px 10px; /* Add some padding around the text */
  border-radius: 5px; /* Rounded corners */
  display: inline-block; /* Make the title behave like a block element */
  background-color: #4d5156; /* Blue background color */
  color: #fff; /* White text color */
 /* Add some padding around the text */
  border-radius: 10px; /* Rounded corners */
  margin-bottom: 0; /* Remove margin at the bottom */
  width: calc(100% - 20px); /* Calculate width to fill the entire width of the card */
  margin-bottom: 50px;
}

.card-text {
  color: #666; /* Slightly darker text color for body text */
  font-size: 1rem; /* Normal font size */
}

.card-body {
  display: flex;/* Add some padding inside the card body */
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Style the download button */
.card-body input[type="button"] {
  background-color: #198754; /* Blue button background color */
  color: #fff; /* White button text color */
  border: none; /* Remove button border */
  padding: 10px 20px; /* Add padding inside the button */
  border-radius: 5px; /* Rounded button corners */
  cursor: pointer; /* Show pointer cursor on hover */
  transition: background-color 0.3s; /* Smooth background color transition */
}
.btn1{
  background-color: #198754; /* Blue button background color */
  color: #fff; /* White button text color */
  border: none; /* Remove button border */
  padding: 10px 20px; /* Add padding inside the button */
  border-radius: 5px; /* Rounded button corners */
  cursor: pointer; /* Show pointer cursor on hover */
  transition: background-color 0.3s; /* Smooth background color transition */
}
.btn1:hover {
  background-color: black; /* Darker blue on hover */
}
.btn{
  float: right;
  background-color: rgb(145, 140, 140);
  color: white;
}
.list-group-item{
  background-color: rgb(51, 51, 51);
  color: white;
}

.card-body input[type="button"]:hover {
  background-color: black; /* Darker blue on hover */
}
.arrow{
  margin-top: 30px;
  height: 30px;
  width: 30px;
  size: 50px;
}
