<div class="container">
  <h2>Register</h2>
  <form action="#">
      <div class="form-group">
          <label for="first_name">First Name:</label>
          <input type="text" id="first_name" name="first_name" required>
      </div>
      <div class="form-group">
          <label for="last_name">Last Name:</label>
          <input type="text" id="last_name" name="last_name" required>
      </div>
      <div class="form-group">
          <label for="court_name">Court Name:</label>
          <input type="text" id="court_name" name="court_name" required>
      </div>
      <div class="form-group">
          <label for="court_location">Court Location:</label>
          <input type="text" id="court_location" name="court_location" required>
      </div>
      <div class="form-group">
          <label for="email">Email Address:</label>
          <input type="email" id="email" name="email" required>
      </div>
      <div class="form-group">
          <label for="email">Username:</label>
          <input type="email" id="email" name="email" required>
      </div>
      <div class="form-group">
          <label for="password">New Password:</label>
          <input type="password" id="password" name="password" required>
      </div>
      <div class="form-group">
          <label for="confirm_password">Confirm New Password:</label>
          <input type="password" id="confirm_password" name="confirm_password" required>
      </div>
      <button type="submit">Register</button>
  </form>
</div>
